$brand: #dda013;

$black: #444444;
$white: #ffffff;

$bg-white: #ffffff;
$bg-light: #f8f9fa;
$bg-light2: #e9ecef;

$stroke-light: #d2d2d2;
$stroke-dark: #808080;

$text-base: #444444;

$red-100: #ff5555;
